<div class="content">
    <div class="header" id="header">
      <div class="nav">
       <label></label>
       <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i class="fa fa-cog"></i> Services</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
      </div>
    </div>
    <div class="main">
    	<div class="text">
    		<h1 style="margin-left: -10%; font-family: Verdana;">ELearning Management System</h1><br>
    		<h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(248, 247, 247);">Developed by - Gowthamraj K</h4><br><br>
    	</div><br>
      <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">
    </div>
  </div>
  <br>
</div>
<br><br>
<marquee class="marquee" direction="left">🔔 Stay Home !!! Stay Safe !!! Lets Fight together against COVID-19. This Elearning Management system is designed by Gowthamraj K. If Already our Customer, please Login to see your Current Learning Status 😀 </marquee>

<section id="about" class="about about-bg">
  <div class="about-container">
      <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;User Friendly Learning Portal<i id="subtext1" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext1">This Portal facilitates you for an <b style="color: darkmagenta; font-size: larger; font-weight: bolder;">user-friendly</b> experience with all the learning contents and resources to improve your skills. You can also <b style="color: darkgreen; font-size: large; font-weight: bolder;">download the course related materials</b> from our portal which can make your learning process much easier</div>
  </div>
  <div class="about-container">
        <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;Three Different Modes<i id="subtext2" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext2">This elearning Portal has three different modes of working as <b style="color:darkblue; font-size: larger; font-weight: bolder;">ADMIN, PROFESSOR & USER.</b> Each of them can access to their respective features and perform their task accordingly. (by default, the ADMIN will be <b style="color: darkgreen; font-size: larger; font-weight: bolder;">GowthamRaj K </b><b style="color: darkred;">(portal creator)</b></div>
  </div>
  <div class="about-container">
        <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;Specific Learning Contents<i id="subtext3" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext3">Seperate Learning contents have been included for both <b style="color: darkgreen; font-size: larger; font-weight: bolder;">video based lectures</b> and <b style="color: darkgreen; font-size: larger; font-weight: bolder;">website based lectures.</b> The <b style="color: darkred; font-size: medium; font-weight: bolder;">ADMIN</b> or <b style="color: darkred; font-size: medium; font-weight: bolder;">PROFESSOR</b> can specify the course type while adding a new course</div>
  </div>
  <div class="about-container">
        <div class="subtext1" id="subtext4"><span class="counter">04</span> &nbsp;Plug-In Play Embedded video lectures<i id="subtext4" class="fa fa-caret-down"></i></div>
        <div class="innertext1" id="innertext4"><b style="color: darkgreen; font-size: larger; font-weight: bolder;">Video based lectures</b> are also divided into <b style="color: darkgreen; font-size: larger; font-weight: bolder;">chapters</b> as per the instructors and users are facilitated to learn as an embedded video lecture in our <b style="color: maroon; font-size: large; font-weight: bolder;">custom video player.</b> You can also <b style="color: darkblue; font-size: medium; font-weight: bolder;">take notes, download resources, ask queries and give feedback about the course.</b></div>
  </div><br>
  <img class="automation" [src]="'assets/img/portalimg.gif'" width="470" height="470">
</section>

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: aladin; color: rgb(3, 34, 34);">User friendly portal for Learning</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Admin </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Professor </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
            </div>
        </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> User </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/male.png'" width="130" height="130">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
