<div class="content">
    <div class="header" id="header">
      <div class="nav">
       <label></label>
       <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i> Home</button>
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i class="fa fa-cog"></i> Services</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
      </div>
    </div>
    <div class="main">
    	<div class="text">
    		<h1 style="margin-left: -10%; font-family: Verdana;">ELearning Management System</h1><br>
    		<h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(248, 247, 247);">Developed by - Gowthamraj K</h4><br><br>
    	</div><br>
      <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">
    </div>
  </div>
  <br>
</div>
<br><br>
<marquee class="marquee" direction="left">🔔 Stay Home !!! Stay Safe !!! Lets Fight together against COVID-19. This Elearning Management system is designed by Gowthamraj K. If Already our Customer, please Login to see your Current Learning Status 😀 </marquee>

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: aladin; color: rgb(3, 34, 34);">User friendly portal for Learning</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Admin </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Professor </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
            </div>
        </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> User </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
                <img [src]="'assets/img/male.png'" width="130" height="130">
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>