
<footer id="footer" class="bg-light text-center">
    <div id="footercontent" class="text-center p-3" style="background-color: #851313; font-weight: bolder; color: white;">
      © 2021 Copyright:
      <b style="color: white; font-weight: bolder;" class="text-light">Gowthamraj K</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: none;" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(29, 106, 158); border: none;" role="button"><i class="fa fa-telegram"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: none;" role="button"><i class="fa fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: none;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: red; border: none;" role="button"><i class="fa fa-pinterest"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(21, 163, 21); border: none;" role="button"><i class="fa fa-whatsapp"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(223, 67, 67); border: none;" role="button"><i class="fa fa-youtube-play"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>  
</footer>