<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">
 <div style="text-align: center; margin-left: 15%; margin-top: 6%;">
    <div class="row col-md-10 col-md-offset-3">
     <div class="card card-body">
        <div style="text-align: center;"><img [src]="'assets/img/success.gif'" width="200px" height="200px"></div>
      <br><h1>Registered Successfully !!!</h1>
      <br><h3 style="color: rgb(16, 72, 80)">You will be re-directed to Login page in few seconds</h3>
     </div>
    </div>
   <br><br>
</div>
