<app-header></app-header>

<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading"><i class="fa fa-user-o"></i> Add New Professor</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #professorform="ngForm" (ngSubmit)="addProfessor()">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Professor Name : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter professor name" name="professorname" [(ngModel)]="professor.professorname" required 
                                #professorname="ngModel"
                                [class.is-invalid]="professorname.invalid && professorname.touched">
                               <small class="text-danger" [class.d-none]="professorname.valid || professorname.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Professor email : <b style="color:red;">*</b></label>
                                <input type="email" class="form-control" placeholder="enter email address" name="professoremail" [(ngModel)]="professor.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                #professoremail="ngModel"
                                [class.is-invalid]="professoremail.invalid && professoremail.touched">
                                <div *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                                    <small class="text-danger" *ngIf="professoremail.errors.required"><b>required field</b></small>
                                    <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Invalid email Id</b></small>
                                  </div>                          
                            </div>
                            <div class="form-group">
                                <label>Professor Gender : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="please mention gender" name="professorgender" [(ngModel)]="professor.gender" required 
                                #professorgender="ngModel"
                                [class.is-invalid]="professorgender.invalid && professorgender.touched">
                                <small class="text-danger" [class.d-none]="professorgender.valid || professorgender.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Mobile Number : <b style="color:red;">*</b></label>
                                <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="enter mobile number" name="professormobile" [(ngModel)]="professor.mobile" required 
                                #professormobile="ngModel"
                                [class.is-invalid]="professormobile.invalid && professormobile.touched">
                               <small class="text-danger" [class.d-none]="professormobile.valid || professormobile.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Password : <b style="color:red;">*</b></label>
                                <input type="password" class="form-control" placeholder="enter password" name="pwd" [(ngModel)]="professor.password" required 
                                #professorpassword="ngModel"
                                [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                                <div *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                                  <small class="text-danger" *ngIf="professorpassword.errors.required"><b>required field</b></small>
                                </div>
                                <small style="color: navy; font-size: 10px; font-weight: bold;">Please use the temporary password as "123"</small>
                                <small style="color: gray; font-size: 10px; font-weight: bold;"> Later Professor can Login and edit his/her password</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Working Institution Name : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter institution name" name="institutionname" [(ngModel)]="professor.institutionname" required 
                                #institutionname="ngModel"
                                [class.is-invalid]="institutionname.invalid && institutionname.touched">
                               <small class="text-danger" [class.d-none]="institutionname.valid || institutionname.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Working Department : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter department" name="department" [(ngModel)]="professor.department" required 
                                #department="ngModel"
                                [class.is-invalid]="department.invalid && department.touched">
                               <small class="text-danger" [class.d-none]="department.valid || department.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Years of Experience : <b style="color:red;">*</b></label>
                                <input type="number" class="form-control" placeholder="enter years of experience" name="experience" [(ngModel)]="professor.experience" required 
                                #experience="ngModel"
                                [class.is-invalid]="experience.invalid && experience.touched">
                               <small class="text-danger" [class.d-none]="experience.valid || experience.untouched"><b>required field</b></small>
                            </div>
                            <div class="form-group">
                                <label>Completed Degrees : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="completed degrees (seperated by , )" name="degreecompleted" [(ngModel)]="professor.degreecompleted" required 
                                #degreecompleted="ngModel"
                                [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                               <small class="text-danger" [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>required field</b></small>
                               <br><small style="color: gray;">Eg: M.E Phd, M.E MPhil, B.E, Dr, etc...</small>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox" style="margin-top: -8%; margin-left: 11%; margin-bottom: 4%;">
                        <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember" required> Is he/she a certified professor <b style="color: red;">(low experienced professors can't give standard content to learners)</b></small>
                    </div>
                    <button [disabled]="professorform.form.invalid" type="submit" class="btnRegister"><i class="fa fa-plus"></i> Add Professor</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>		

<app-footer></app-footer>