@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.sidebar-container {
    position: relative;
    width: 235px;
    height: 970px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #1a1a1a;
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: larger;
    line-height: 20px;
    padding: 20px 15px 30px 20px;
    display: block;
    margin-top: 8%;
    color: #fff;
    transition: transform .2s;
    -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  }
  .sidebar-navigation li:hover{
    background-color: #c92d2d;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #13584f;
    
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 220px;
  }
  #userimg{
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 90vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

#userimg{
  width: 100px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}
.container
{
    margin-left: 23%;
    margin-top: -72%;
    overflow-x: hidden;
}
.dashboard-card
{
background-color: white;
border-radius: 10px;
border: none;
width: 35%;
transition: transform .4s;
box-shadow: 5px 10px 18px #888888;
margin: 2% 3% 5.5% 3%;
padding: 3%;
}
.dashboard-card:hover
{
  transform: scale(1.05); 
  cursor: pointer;  
}
.circle{
border-radius: 50%;
width: 30%;
height: 80px;
float: right;
background-color: rgb(248, 246, 96);
}
#icons
{
margin-left: 26%;
margin-top: 12%;
font-size: 3.5em;
}
.text
{
font-family: 'aladin';
letter-spacing: 1px;
font-size: 35px;
font-weight: bolder;
color: rgb(5, 44, 42);
}
.sub-text
{
font-family: 'aladin';
letter-spacing: 1px;
font-size: 20px;
font-weight: 600;
color: darkred;
}