<app-header></app-header>

<div class="heading-text" style="color: darkgreen;"><b><i class="fa fa-graduation-cap"></i> My Learning</b></div>
<div id="youtubecoursecard" style="margin-left: 10%; margin-right: 10%; margin-top: 2%;">
  <owl-carousel-o  [options]="owlOptions" (dragging)="owlDragging($event)">
    <ng-container>
      <ng-container *ngFor="let data of myenrollments | async">
        <ng-template  carouselSlide class="card" style="width: 25rem;">
            <div class="card-body" id="youtubecard" style="box-shadow: 2px 2px 15px 8px rgb(147, 158, 147); margin-right: 5%; margin-top: 5%; margin-bottom: 10%; width: 300px; background-color: white;">
            <img *ngIf="data.coursetype === 'Youtube'" [src]="'assets/img/livebg.png'" width="70" height="240">
            <img *ngIf="data.coursetype === 'Website'" [src]="'assets/img/websitebg.png'" width="70" height="240">
            <hr>
            <h4 class="card-title text-center" style="margin-bottom: 4%;"><b>{{data.coursename}}</b></h4>
            <h6 class="text-center" style="margin-left: auto; margin-right: auto; padding: 5px 10px 5px 10px; background-color: darkgoldenrod; border-radius: 5px; font-weight: bold; width: 55%; color: white;">{{data.courseid}}</h6>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Date: </b><b>{{data.enrolleddate}}</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Your ID: </b><b style="margin-left: 3%; padding: 3px 8px 3px 8px; background-color: darkslateblue; border-radius: 5px; font-weight: bold; width: 55%; color: white;">{{data.enrolleduserid}}</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Instructor: </b><b>{{data.instructorname}}</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Learners: </b><b>{{data.enrolledcount}} enrolled previously</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Type: </b><b>{{data.coursetype}}</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Level: </b><b>{{data.skilllevel}}</b></div>
            <div><b style="color: darkred; font-size: large; margin-bottom: 1%;">Language: </b><b>{{data.language}}</b></div>
            <p class="card-text"><br><b style="color: darkblue; font-size: large; margin-bottom: 1%;">{{data.description}}</b></p>
            <a (click)="visitCourse(data.coursename)" style="margin-left: auto; margin-right: auto; border: none;" class="btn btn-primary">Visit Course</a>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </owl-carousel-o>
  </div>

<br><br>
<app-footer></app-footer>