.continer
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 35px 8px darkgray;
    margin: 3% 5% 3% 5%;
    padding: 3%;
}
.chapter-list
{
    margin-top: -36%;
    float: right;
    overflow-y: scroll;
    padding: 2%;
    box-shadow: 4px 4px 25px 8px darkgray;
    background-color: white;
    width: 36%;
    height: 380px;
}
.chapter-list::-webkit-scrollbar {
    width: 8px;
  }
.chapter-list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
.chapter-list::-webkit-scrollbar-thumb {
    background: rgb(6, 122, 117);
  }
.chapter-list::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 54, 52);
  }
#select-box
{
    width: 25px; 
    height: 25px; 
    align-items: center;
    border: 1px solid black;
    align-content: center;
    cursor: pointer;
    padding: 2px;
    vertical-align: middle;
    border-radius: 5px; 
    background-color: white;
}
.selected
{
    background-color: #e1e3e2;
}
.name
{
    font-weight: bolder;
    font-size: 18px;
    margin-top: -8.5%;
    cursor: pointer;
    margin-left: 12%;
    color: rgb(6, 54, 47);
    font-family: 'Segoe UI', sans-serif;
}
.chapter1, .chapter2, .chapter3, .chapter4, .chapter5, .chapter6, .chapter7, .chapter8    
{
    padding: 3%;
}
.fa-check
{
    font-weight: bolder;
    color: white;
    vertical-align: middle;
    font-size: large;
    display: flex;
}
.sub-container
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 8px darkgray;
    margin-top: 2%;
    padding: 1%;
    width: 100%;
}
.sub-btns
{
    background-color: white;
    padding: 3%;
}
.btn-info
{
    margin-right: 4%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.btn-info:active, .btn-info:focus, .btn-info:hover
{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
}
.descriptions
{
    margin-left: 15%;
    margin-right: 10%;
    background-color: white;
}
.certificate
{
    opacity: 0.6; 
    border: 1px solid black; 
    font-weight: bolder; 
    margin-left: 22%; 
    cursor: pointer;
    margin-top: 2%; 
    display: inline-block; 
    background-color: white; 
    padding: 5px 30px 5px 30px;
}
#searchtxt
{
    font-weight: bold;
    background-color: rgb(238, 236, 236);
    padding: 1%;
    margin-top: -5.4%;
    width: 70%;
    margin-bottom: 4%;
}
#questions, #notestxt
{
    font-weight: bold;
    background-color: rgb(243, 241, 241);
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 8%;
    width: 70%;
}
